@tailwind base;
@tailwind components;
@tailwind utilities;
.use {
  font-family: Quicksand, sans-serif;
  font-weight: 500;
}
html {
  font-size: 16px;
}

body {
  margin: 0;
  scroll-behavior: smooth;
}